.align{
    text-align: center;
    color: rgba(25, 240, 150, 0.5);
}
.weight{
    text-shadow: 5px 8px 12px #13035e;
    padding: 8px;
    text-align: center;
    color: cornflowerblue;
    font-weight: bolder;
}
.height{
    line-height: 5vh;
    text-align: center;
    color: rgb(182, 85, 6);
}
a:hover{
    color: brown;
    text-decoration: none;
}