body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right, #fabbbb ,#b1f5b1);
}
.container {
    width: 400px;
    background-color: #c7f8d7;
    padding: 20px;
    
}